.homeContainer {
    max-width: 100vw;
    height:fit-content;
    margin: auto;
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #af9c9c, #222);
    color: #32caca;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.menuSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
}

.menuList {
    flex-direction: column;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #32caca;

    box-shadow: 0 4px 6px rgba(245, 228, 228, 0.1);
}

.menuItem {
    font-size: 1rem;
    font-weight: 600;
    color: #32caca;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #000;

    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

.menuItem:hover {
    background: #333;
    color: white;
    transform: translateY(-2px);
}

.details {
    margin-top: 30px;
    border: 0.01px solid #32caca;
    border-radius: 5px;
    height:fit-content;
    padding: 30px;
    width:fit-content;
    background-color: #333;


}

.gameList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gameItem {
    color: white;
    padding: 1px 5px;
    border: 1px solid #000;

    /* border-radius: 50px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.gameItem:hover {
    transform: translateY(-3px);
    box-shadow: 4px 6px 10px rgba(255, 254, 254, 0.15);
}

.gameItem span {
    font-size: 1rem;
    font-weight: 600;
    color: #32caca;
}

.gameItem button {
    background: #32caca;
    color: rgb(255, 252, 252);
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.gameItem button:hover {
    background: #000000;
    box-shadow: 0px 0px 1000px 120px #fff;
}
